<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controllers.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackController</servlet-name>
        <servlet-class>controllers.PackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Public</servlet-name>
        <servlet-class>controllers.Public</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenseController</servlet-name>
        <servlet-class>controllers.ExpenseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackCategoryController</servlet-name>
        <servlet-class>controllers.PackCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardController</servlet-name>
        <servlet-class>controllers.CardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudySessionController</servlet-name>
        <servlet-class>controllers.StudySessionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controllers.ReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackController</servlet-name>
        <url-pattern>/Pack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Public</servlet-name>
        <url-pattern>/Public</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenseController</servlet-name>
        <url-pattern>/Expense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackCategoryController</servlet-name>
        <url-pattern>/PackCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardController</servlet-name>
        <url-pattern>/Card</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudySessionController</servlet-name>
        <url-pattern>/StudySession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
